<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.rule.mapper.RuleExecuteLogMapper">

    <select id="selectByRuleId" resultType="com.mc.rule.entity.RuleExecuteLog">
        SELECT * FROM rule_execute_log WHERE rule_id = #{ruleId} ORDER BY execute_time DESC
    </select>

    <select id="selectRecentLogs" resultType="com.mc.rule.entity.RuleExecuteLog">
        SELECT * FROM rule_execute_log ORDER BY execute_time DESC LIMIT #{limit}
    </select>

</mapper>
